@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Convert</title>
</head>
<body>
    <div>
        @ViewBag.Message
    </div>
    <a href="/Home/Index" style="color:blue">Go Back</a>
</body>
</html>
